<style>
   button{
    background-color: springgreen;
    border: greenyellow;
    font-style: unset;
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100px;
    color: black;
    text-align: center;
  }
  body{
    background-color: green;
    color: white;
    width: 1080px;
    height: 140px;
  } 
</style>
<body style="text-align: center;">
<div>
  <h3>Congratulations! You succeeded to create an account!</h3>
  <label ><b>Account Number  :</b></label>{{rek}}
</div>
<br/>
<div>
  <button class="btn btn-primary" (click)="back()">Back</button>
</div>
</body>
