<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav ps-3">
    <li  class="nav-item">
      <a routerLink="welcomePage" class="nav-link" routerLinkActive ="active">
        <img src="/assets/images/money.png" style="width:40px;">BANK KU</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{ title }}</h2>
  <hr/>
    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

<footer class="footer">
  <div class="container">
    <p>JDT BATCH 8 @2021</p>
  </div>
</footer>
