<style>
  button{
    background-color: springgreen;
    border: greenyellow;
    font-style: unset;
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
    color: black;
    text-align: center;
  }
  body{
    background-color: green;
    color: white;
    width: 1080px;
    height: 150px;
  } 
</style>
<body style="text-align: center;">
<p>customer-register-success works!</p>
<br>
<div>
  <button class="btn btn-primary" (click)="back()">Create Account</button>
</div>
</body>

