<style>
  form{
    display: inline-block;
  }
  button{
    background-color: springgreen;
    border: greenyellow;
    font-style: unset;
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100px;
    color: black;
  }
  body{
    background-color: green;
    color: white;
    width: 1080px;
    height: 420px;
  }
  p{
    align-content: center;
    width: 500px;
    background-color: blanchedalmond;
    color: black;
    display: inline-block;
  }
</style>
<body>
<h3 style="text-align: center;">REGISTER</h3>
<div style="text-align: center;">
  <form (ngSubmit)="submit()" style="text-align: center;">
    <div class="form-group" style="text-align: center;">
      <label >ID NUMBER</label>
      <input type="text" class="form-control"  name="nik" required [(ngModel)]="customer.nik" maxlength="8">
    </div>
    <div class="form-group">
      <label >FULL NAME</label>
      <input type="text" class="form-control"  name="lastName" required [(ngModel)]="customer.fullname">
    </div>
    <div class="form-group">
      <label >EMAIL</label>
      <input type="text" class="form-control" name="email" required [(ngModel)]="customer.email">
    </div>
    <div class="form-group">
      <label >ADDRESS</label>
      <input type="text" class="form-control" name="address" required [(ngModel)]="customer.address">
    </div>

    <br/>
    <button  type="submit" class="btn btn-success" >Submit</button>

    <button style="margin-left: 20px;" class="btn btn-primary" (click)="back()">Back</button>
  </form>
  <br/>
  <br/>
  <p>In order to create an account, you have to regist your identity first!</p>
</div>
</body>
