<style>
  button{
    background-color: springgreen;
    border: greenyellow;
    font-style: unset;
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 110px;
    color: black;
  }
  body{
    background-color: green;
    color: white;
    width: 1080px;
    height: 360px;
  } 
</style>
<body style="text-align: center;">
<h1>Welcome to BANK KU</h1>
<h6>How can we help you?</h6>
<div>
  <button class="btn btn-primary " (click)="goProfile()">PROFILE</button>
</div>
<br/>
<div>
  <button class="btn btn-primary " (click)="goProfile()">INFO</button>
</div>
<br/>
<div>
  <button class="btn btn-primary " (click)="goProfile()">DEPOSIT</button>
</div>
<br/>
<div>
  <button class="btn btn-primary " (click)="goProfile()">TRANSFER</button>
</div>
<br/>
<div>
  <button class="btn btn-primary " (click)="goProfile()">WITHDRAW</button>
</div>
</body>
