<style>
 button{
    background-color: springgreen;
    border: greenyellow;
    font-style: unset;
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100px;
    color: black;
    text-align: center;
  }
  body{
    background-color: green;
    color: white;
    width: 1080px;
    height: 250px;
  }  
</style>
<body>
<h2>PROFILE DETAILS</h2>
<hr/>
<div>
  <label ><b>ID NUMBER :</b></label>{{customer.nik}}
</div>
<div>
  <label ><b>NAME  :</b></label>{{customer.fullname}}
</div>
<div>
  <label ><b>EMAIL  :</b></label>{{customer.email}}
</div>
<div>
  <label ><b>ADDRESS  :</b></label>{{customer.address}}
</div>
<br>

<button class="btn btn-primary" (click)="back()">Back</button>
</body>
