<div class="panel panel-primary">
    <div class="panel-hiding">
      <h2>Daftar Karyawan</h2>
    </div>
    <div class="panel-body">
      <div style="text-align: right;">
        <button style="margin-left: 20px;" class="btn btn-primary" (click)="back()">kembali</button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Balance</th>
            <th>To-From</th>
            <th>Account Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of trans | async">
            <td>{{e.transDate}}</td>
            <td>{{e.type}}</td>
            <td>{{e.amount}}</td>
            <td>{{e.balance}}</td>
            <td>{{e.fullname}}</td>
            <td>{{e.accNumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
