<h3>WITHDRAW</h3>
<div style="width: 400px;">
  <form (ngSubmit)="submit()">
    <div class="form-group">
      <label >Nominal</label>
      <input type="text" class="form-control"  name="amount" required [(ngModel)]="accs.amount" maxlength="8">
    </div>
    <div class="form-group">
      <label >Masukan PIN Anda</label>
      <input type="text" class="form-control"  name="pin" required [(ngModel)]="accs.pin" maxlength="6">
    </div>
    <br/>
    <button  type="submit" class="btn btn-success" >Withdraw</button>
    <button style="margin-left: 20px;" class="btn btn-primary" (click)="back()">kembali</button>
  </form>
</div>
